@using ZFY.ChatGpt.Dto;
@using ZIFEIYU.Global;

@foreach (var item in Messages)
{
    @if (item.Role!="user")
    {
        <div style="display:flex;   ">
            <div style=" margin-bottom: 10px; padding: 10px; max-width: 80%">
                <MudCard>
                    <MudCardContent>
                        <MudMarkdown CodeBlockTheme="@CodeBlockTheme" Value="@item.Content" />
                    </MudCardContent>
                </MudCard>
            </div>
           
        </div>
    }
    else
    {
        <div style="display:flex;" dir="rtl">
            <div style=" margin-bottom: 10px; padding: 10px; max-width: 80%">
                <MudCard>
                    <MudCardContent>
                        <MudMarkdown CodeBlockTheme="@CodeBlockTheme" Value="@item.Content" />
                       @* <MudText>@item.Content</MudText>*@
                    </MudCardContent>
                </MudCard>
            </div>
          
        </div>
    }
}

@code {
    [Parameter]
    public List<ChatMessage> Messages { get; set; }

    public CodeBlockTheme CodeBlockTheme { get {
            if ((bool)EventDispatcher.DispatchFunc("IsDarkTheme")) return CodeBlockTheme.Dark;
            else return CodeBlockTheme.Github;
        } }
}

