@page "/chat"
@page "/"
@using System.Diagnostics;
@using BlazorPro.Spinkit;

<div class="main">
    <div  id="IndexBody" class="body">
        <div style="position:absolute;opacity:0.7">
            <MudMenu  Dense="true" Icon="@Icons.Material.Outlined.AccessTime" Color="Color.Primary" Size="Size.Medium" ActivationEvent="@MouseEvent.MouseOver">
                <ChildContent >

                    <MudMenuItem >Profile</MudMenuItem>
                    <MudMenuItem>Theme</MudMenuItem>
                    <MudMenuItem>Usage</MudMenuItem>
                    <MudMenuItem>Sign Out</MudMenuItem>
                   
                </ChildContent>
            </MudMenu>
        </div>
        
        <Dialogue IsCodeOver="_processing" Messages="Messages"></Dialogue>
    </div>
    <div class="bottom">
        <div style="margin-right:5px;">
            <SpinLoader IsLoading="_processing">
                <LoadingTemplate>
                    <Wave Color="#776be7" Center="true" />
                </LoadingTemplate>
                <ContentTemplate>
                    <MudFab OnClick="Reset" Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Refresh" />
                </ContentTemplate>
            </SpinLoader>
        </div>
        <MudTextField id="HelperText" Immediate="true" @ref="TextField"  OnKeyPress="KeyDown" T="string" Style="height:45px;" Variant="Variant.Filled" @bind-Value="HelperText" />
        <div style="margin-left:10px;">
            <MudFab Size="Size.Small" OnClick="@Send" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Disabled="_processing">
            </MudFab>
        </div>
    </div>
</div>
