@page "/"
@using System.Diagnostics;
@inherits IndexBase


<div class="main">
    <div class="body">
        <MudFab Size="Size.Small" OnClick="@Test" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Disabled="_processing">
            测试
        </MudFab>
        <Dialogue Messages="Messages"></Dialogue>
        @if (davinciOutput != null)
        {
            foreach (var item in davinciOutput.Choices)
            {
                <SurveyPrompt Title="@item.Text" />
            }
        }
    </div>
    <div class="bottom">
        <div style="margin-right:5px;">
            <MudFab OnClick="()=>{HelperText=String.Empty;}" Size="Size.Small" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Refresh" />
        </div>
        <MudTextField T="string" Label="请输入你的问题"  Variant="Variant.Filled" @bind-Value="HelperText" />
        <div style="margin-left:10px;">
            <MudFab Size="Size.Small" OnClick="@Send" Color="Color.Primary" StartIcon="@Icons.Material.Filled.Send" Disabled="_processing">
            </MudFab>
        </div>
    </div>
</div>
