@page "/Setting"

<div class="pagebody" >
 
        <MudPaper Style="padding:0.5rem;" Class="d-flex  align-center  mud-width-full">
            <div class="config-item">
                <div><MudText>暗黑模式</MudText></div>
                <div ><MudSwitch @bind-Checked="@Theme_Switch" Color="Color.Primary" /></div>
            </div>
        </MudPaper>
 
        <MudPaper Style="padding:0.5rem;" Class="d-flex  align-center  mud-width-full">
            <div class="config-item">
                <div><MudText>使用代理</MudText></div>
                <div><MudSwitch @bind-Checked="@Proxy_Switch" Color="Color.Primary" /></div>
            </div>
        </MudPaper>
        

        <MudPaper Style="padding:0.5rem;" Class="d-flex  align-center  mud-width-full">
            <div class="config-item">
                <div><MudText>代理地址</MudText></div>
                <div >
                    <MudTextField Style="flex: 7;" FullWidth="true" InputType="InputType.Url" Label="IP地址"
                                  @bind-Value="ProxyAddress" Variant="@Variant.Text" />
                    <MudTextField Style="flex: 3;" InputType="InputType.Number" Label="端口号"
                                  @bind-Value="ProxyPort" Variant="@Variant.Text" />
                </div>
            </div>
        </MudPaper>
        <MudPaper Style="padding:0.5rem;" Class="d-flex  align-center  mud-width-full">
            <div class="config-item">
                <div><MudText>APIKEY</MudText></div>
                <div>
                    <MudTextField  FullWidth="true" InputType="InputType.Password" Label="Key"
                                  @bind-Value="ApiKey" Variant="@Variant.Text" />
                   
                </div>
            </div>
        </MudPaper>
        <MudPaper Style="padding:0.5rem;" Class="d-flex  align-center  mud-width-full">
            <div class="config-item">
                <div><MudText>Chat模型</MudText></div>
                <div>
                    <MudSelect T="string" @bind-Value="ChatModel" AnchorOrigin="Origin.BottomCenter">
                        <MudSelectItem Value="@("gpt-3.5-turbo")" />
                        <MudSelectItem Value="@("gpt-3.5-turbo-0301")" />
                    </MudSelect>
                </div>
            </div>
        </MudPaper>
        <MudPaper  Class="d-flex  align-center  mud-width-full">
            <div class="config-item">
                <div><MudText>超时时间</MudText></div>
                <div>
                    <MudNumericField @bind-Value="TimeOut" Label="单位/秒" Variant="Variant.Text" Min="3" Max="60" />
                </div>
            </div>
        </MudPaper>
</div>